<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Forms</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="myform.css">

</head>
<body>
	<div class="category-div wrap m-4">
		<div class="card card-5">
			<div class="card-header ct-h">
				<h3 class="text-center cat-ttl">Category Form</h3>
			</div>
			<div class="card-body ct-b">
				<form method="POST">
					<div class="form-group">
						<label for="cat" class="lab-cat">Category</label>
						<input id="cat" class="form-control inp-cat" type="text" name="category">
					</div>
					<div class="form-group mt-5">
						<input class="btn btn-lg btn-outline-primary" type="submit" value="Add Category">
					</div>
				</form>
				
			</div>
		</div>
	</div>
</body>
</html>